
body {
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    margin: 1px;
    font-family: Fira sans;
    background-color: #ffffff;
}

/*navigation bar*/
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    background-color: #ffffff;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #ddd;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.1rem 0.5rem 2.1rem;
}

#brand{
    font-weight: 800;                                                                                            
    font-size: 23px;
    color:black;
    font-family: rethink sans;
    margin: 0;
    padding-right: 1rem;
}

nav ul{
    list-style: none;
    width: 100%;
    text-align: right;
    padding-left: 0px;
}
nav ul li{
    display: inline-block;
    margin: 0 4px 0 4px;
}

.icon{
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    padding-bottom: 0.5rem;
    margin-right: 0.7rem;
    border-style: none;
    font-family: fira sans;
    font-size: medium;
    cursor:pointer;
}

.btn {
    font-family: fira sans;
    position: relative;
    display: inline-block;
    padding: 10px 0px;
    margin-right: 0.5rem;
    font-size: small;
    color: #333;
    background-color: transparent;
    border: none;
    cursor: pointer;
    overflow: hidden;
    transition: color 0.3s ease-in-out;
}

.btn::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #007BFF;
    transition: width 0.3s ease-in-out;
}

.btn:hover {
    color:#007BFF
}

.btn:hover::after {
width: 100%;
}

nav ul li a{
    color: rgb(37, 43, 48);
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.searchbar {
    padding: 0.5rem;
    padding-left: 1rem;
    width:40rem;
    border-radius: 50px;
    background-color: #f5f5f5;
    color:#4c4c4c;
    border: 1px solid  #7c7c7c ;
}

.searchbar input[type=text]{
    outline: none;
}

.searchbar i{
    font-size: 0.7rem;
    color: rgb(85, 85, 85);
}

.searchbar input{
    border: 0px ;
    width:300px;
    font-size: 0.8rem;
    border-radius: 50px;
    background-color: #f5f5f5;
    color: #3a3a3a;
}

.bi-search,
.bi-cart,
.bi-person-circle{
    font-size: 1.3rem;
    color: #4c4c4c;
}
/*end*/
/*main*/
.main-banner {
    background-image: url("../assets/home-banner.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    align-content: center;
    margin: 6rem 2rem 2rem 2rem;
    color: white;
    
  }
    .banner-dark {
        padding: 7rem;
    }

    #product-name{
        font-family: Rethink sans;
        font-size: 3rem;
        line-height: 100%;
        color: white;
        font-weight: 700;
        margin-bottom: 1.3rem;
        
    }
    #dark-button{
        border-radius: 50px;
        color: rgb(0, 0, 0);
        background-color: rgb(255, 255, 255);
        padding: 12px 16px 12px 16px;
        border-style: none;
        font-size: 0.8rem;
    }
    #description{
        font-weight: 300;
        font-size: 1rem;
        padding-bottom: 20px;
        line-height: 150%;
    }

    #highlights{
        text-align: center;
        font-family: rethink sans;
        font-size: 200%;
        margin: 4rem 0rem 4rem 0rem;
        font-weight: 700;
    }
    #week-highlight{
        text-align: center;
        font-family: rethink sans;
        font-size: 200%;
        margin: 4rem 0rem 4rem 0rem;
        font-weight: 700;
    }

    /*cards-section*/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        width: 90%;
        margin: auto;
        height: 45rem;
    }
    .large-card {
        background-image: url("../assets/large-card.avif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 20px;
        text-align: center;
        padding-top : 36rem;
    }
    .right-section {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 0.8rem;
    }
    .small-card {
        border-radius: 20px;
        text-align: center;
    }
    #card1{
        background-image: url("../assets/small-card-1.avif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    #card2{
        background-image: url("../assets/small-card-2.avif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    #card3{
        background-image: url("../assets/small-card-3.avif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    #card4{
        background-image: url("../assets/small-card-4.avif");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover; 
    }
    .title {
        font-size: 1rem;
        font-weight: 500;
        margin: 15rem 0rem 0.1rem 0rem;  
    }
    .price {
        font-size: 1rem; 
        font-weight: 500;
    }

    .recommendation-cards{
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
    }

    .card{
        padding: 0.8rem;
        width: 13rem;
        background-color: rgb(247, 247, 247);
        border-radius: 10px;
        font-size: 1rem;
        text-align: center;
    }

    .color-options, .storage-options {
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin: 10px 0;
    }
    .color-options button {
        padding: 10px;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: 2px solid #282828;
        display: inline-block;
        margin: 0.5rem 0 1rem 0;
    }
    .storage-options button{
        border: 1px solid black;
        background-color:rgb(247, 247, 247);
        padding: 0.4rem 0.5rem 0.4rem  0.5rem;
        border-radius: 40px;
        margin: 0.5rem 0 0.8rem 0;
        font-size: 0.8rem;
    }


    #product-info{
        font-size:0.6rem;
        font-weight: 300;
        margin: 0.8rem 0rem 0.8rem 0rem;
    }
    #title{
        font-family: rethink sans;
        font-weight: 700;
        font-size: 1rem;
    }
    #image{
        height:11rem;
        width:11rem ;
    }
    #buynow{
        background-color: black;
        color:white;
        padding:0.8rem;
        width: 100%;
        border-radius: 30px;
        margin-top:15px ;
        border: none;
        font-weight: 500;
        cursor: pointer;
        font-size: 0.8rem;
    }
    #buynow:hover{
        opacity:0.4;
    }
    #price{
        font-size: 1rem;
        font-weight: 500;
    }
    
font{
    color: #007BFF;
    font-weight: 600;
}
footer {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 1rem;
    margin :1rem;
}
.footer-bar {
    display: flex;
    border-radius: 40px;
    padding: 0.6rem 1rem 0.6rem 1rem;
    gap: 10px;
    max-width: 25rem;
    margin: auto;
    border: 1px solid #4c4c4c;
    background: #f5f5f5;
    margin-bottom: 2.5rem;
    
}
.footer-bar input {
    border: none;
    font-size: 0.8rem;
    outline: none;
    background-color: #f5f5f5;
    
}
.keyword-tags {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 1rem;
    flex-wrap: wrap;
    max-width: 40rem;
    margin-bottom: 5rem;
}

.keyword-tags span {
    border: 1px solid rgb(191, 191, 191);
    padding: 8px 15px;
    border-radius: 20px;
    font-size: 0.7rem;
    cursor: pointer;
}

.footer-bar i{
    font-size: 0.9rem;
    color: rgb(85, 85, 85);
}
.line{
    width: 95%;
    border-top: 0.1rem solid rgb(253, 253, 253);
    margin: 1rem auto 1rem auto;
    opacity: 50%;
}
.footer-details{
    text-align: left;
}
.footer-details {
    list-style: none;
    margin: 0.8rem;
    font-size: 0.65rem;
    font-weight: 400;
    opacity: 86%;
}
.contact-links{
    display: flex;
    gap: 1rem;
    color: rgb(11, 11, 11);
    font-size: 1.3rem;
    padding: 0;
    align-items: center;
}

.last-footer-section{
    display: flex;
    gap: 47rem
}
.footer-info{
    display: flex;
    gap: 1.8rem;
    list-style: none;
    margin-left: 1rem;
    font-size: 0.65rem;
    font-weight: 500;
    opacity: 86%;
}
a{
    color: rgb(37, 43, 48);
    text-decoration: none;
    color:rgb(0, 0, 0);
}



@media (max-width: 1062px) {
    .hamburger-menu{
      display: flex;
    }
    .searchbar{
      display: none;
    }
    .btn{
      display: none;
    }
   .container{
    display: none;

   }
   .recommendation-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
   }
   .last-footer-section{
    display: flex;
    flex-direction: column;
    align-items: left;
    row-gap: 1rem;
   }
   #week-highlight{
    display: none;
   }
   .banner-dark{
    padding: 2rem;
   }


   .contact-links {
    padding: 0rem 1rem 0rem 3rem;
    }
  }


  

